*
{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header span
{
	color:  #FF5E0E;
}
header img
{
	justify-content: flex-end;
	display: flex;
}
header h2
{
	font-weight: bold;
	color: black;
	display: flex;
	justify-content: flex-start;
}
header p
{
	color: black;
	justify-content: flex-start;
	display: flex;
}
#numero
{
	background-color: #061541;
	color: aliceblue;
	padding: 1.5rem;
}
header nav
{
	background-color: #061541;
	color: aliceblue;
    align-items: center;
}
nav li
{
 display: inline-flex;
 margin: 2rem;
 margin-left:3rem;
 margin-right: 3rem;
}
main
{
	display: flex;
	align-items: row;
	gap: 10px;
	justify-content: center;
	height: 700px;
}
.raiva img
{
	width:  350px;
	height: 200px;
}
.raiva
{
	width: 350px;
	border-width: 4px;
	border-style: solid;
	border-color: rgb(202, 200, 200);
	margin-bottom: 10px;
}
ul
{
	list-style-type: none;
}
a
{
	text-decoration: none;
	color: aliceblue;
	background-color: #FF5E0E;
	padding: 0.5rem;
	border-radius: 10px;
}
footer
{
	background-color: #061541;
	color: aliceblue;
	display: flex;
	justify-content: space-around;
	height: 350px;
}
footer div
{
	width: 300px;
}
footer input
{
	background-color: #020d2b;
	padding-left: 200px;
	text-align: left;
}
footer input::placeholder
 {
color: aliceblue;
text-align: left;
 }
footer table
{
	background-color: #020d2b;
}
footer td
{
	padding-left: 40px;
	padding-right: 40px;
}
